/* focus 시 링 스타일 적용 */
:focus {
  outline: 0;
}
/* 현업에서는 box shadow로 적용함. */
:focus-visible {
  --ring-color: var(--primary);
  box-shadow: 0 0 2px 1px var(--ring-color);
}

/* 접근할 수 있으면서 읽을 수 있는 숨김 컨텐츠 스타일 from tailwind */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  /* clip-path: inset(50%); */
}
