body{
    /* color: var(--content, #181818); */
    color: light-dark(var(--content, #181818), var(--white, #FFFFFF));
    background-color: light-dark(var(--gray-100, #F5F5F5), var(--gray-900, #292929));
    font-size: 0.875rem; /* 14px */
    font-family: 'SUIT Variable', sans-serif;
}