/* Container with Flex*/
.container {
  background-color: yellow;
  --size: 940px;

  /* 최소 길이 설정*/
  min-width: calc(var(--size) + 20px);
  min-inline-size: calc(var(--size) + 20px);
  display: flex;
  /* 횡방향 정렬을 위한 flex-direction 설정 */
  /* flex는 row일 때 가로축이 main 세로축이 cross, column일 때 반대 */
  flex-direction: column;
  align-items: center;

  .header,
  .visual,
  .main,
  .slogan,
  .footer {
    /* width와 inline-size는 같은 설정 */
    width: var(--size);
    inline-size: var(--size);
  }

  .main {
    display: flex;
    flex-direction: row;
    padding: 28px 16px;
    /* space-between은 가장 끝 요소를 배치하고 나머지는 GAP으로 나누어 정의 */
    /* space-between(사이에만 space 추가), space-around(좌우 끝에도 추가), space-evenly(균등) */
    justify-content: space-between;
    .group1 {
      width: 250px;
      inline-size: 250px;
    }
    .group2 {
      width: 380px;
      inline-size: 380px;
    }
    .group3 {
      width: 190px;
      inline-size: 190px;
    }
  }

  .footer-container {
    width: 100%;
    inline-size: 100%;
    /* footer-container를 contents로 적용하면 box가 아닌것으로 적용하여 footer가 직계 자식이 됨 */
    /* display: contents; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .footer {
    }
  }
}

/* 각 요소의 세로크기를 %를 기준으로 할당 */
.header {
  background-color: yellowgreen;
  height: 10vh;
  block-size: 10vh;
}

.visual {
  background-color: lime;
  height: 10vh;
  block-size: 10vh;
}

.main {
  background-color: blue;
  height: 10vh;
  block-size: 60vh;
  .group {
    background-color: lightblue;
  }
}

.slogan {
  background-color: orange;
  height: 10vh;
  block-size: 10vh;
}

.footer-container {
  background-color: lightgray;
  height: 10vh;
  block-size: 10vh;
}

.footer {
  background-color: silver;
  height: 10vh;
  block-size: 10vh;
}
