/* Container with Auto margin + float layout */
.container {
  /* background-color: yellow; */
  --size: 940px;

  /* 최소 길이 설정*/
  min-width: calc(var(--size) + 20px);
  min-inline-size: calc(var(--size) + 20px);

  .header,
  .visual,
  .main,
  .slogan,
  .footer {
    /* width와 inline-size는 같은 설정 */
    width: var(--size);
    inline-size: var(--size);
    margin-inline: auto;
  }

  .main {
    padding: 28px 16px;
    display: flow-root;
    min-height: 450px;
    min-block-size: 450px;
    /* float속성으로 정렬하기 위해 float tkdyd */
    .group {
      float: left;
      height: 100%;
      block-size: 100%;
      /* margin-inline: 15px; */

      &:nth-child(n + 2) {
        margin-left: 44px;
        margin-inline-start: 44px;
      }
    }
    .group1 {
      width: 250px;
      inline-size: 250px;
    }
    .group2 {
      width: 380px;
      inline-size: 380px;
    }
    .group3 {
      width: 190px;
      inline-size: 190px;
    }
  }

  .footer-container {
    width: 100%;
    inline-size: 100%;
    .footer {
    }
  }
}

.header {
  background-color: yellow;

  ul {
    display: flex;
    flex-direction: row; /* 기본값이므로 생략 가능 */
    gap: 8px; /* 항목 사이 간격(선택) */
  }
}

.login {
  /* 로그인 컴포넌트 전체 */
  --start: var(--primary);
  --end: var(--secondary);
  --shadow: var(--gray-500);
  /* gradiant는 color위에 덮어 씌워짐 */
  background-color: var(--end);
  background-image: linear-gradient(90deg, var(--start) 0%, var(--end) 100%);
  padding: 12px;
  border-radius: 5px;
  /* 오른쪽 아래로 5px씩 그림자, 번짐/확산 없음, 회색(#aaa) 그림자 */
  box-shadow: 5px 5px 0px 0px var(--shadow);

  form {
    /* background-color: yellow; */
    /* 폼 영역 submit 버튼을 위한 자리 확보 */
    padding-right: 58px;

    .input:first-child {
      /* 첫번째 input은 margin-top을 주어 위와 간격을 띄움 */
      /* 여러 입력이 있는 경우 gap으로 설정하는게 좋음 */
      margin-bottom: 4px;
    }

    /* 레이블 요소 설정 */
    label {
      /* background-color: pink; */
      /* input.css에 display에 flex를 적용해서 길이 조정 가능 */
      /* 4em=4글자 */
      width: 4em;
    }

    /* submit 버튼을 위한 설정 */
    position: relative;

    button {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 100%;
    }
  }

  ul {
    /* 불렛, 패딩 삭제 */
    /* list-style: none;
    padding-left: 0; */
    /* 한줄 배치위해 flex 적용 */
    display: flex;
    justify-content: space-between;

    li {
      display: flex;
      gap: 4px;
      align-items: center;
      font-size: 0.8125rem;
      line-height: 1.5;
      letter-spacing: -0.02em;
    }

    span {
      color: var(--primary);
    }

    a {
      padding: 4px;
    }
  }

  hr {
    /* 상 10, 하 4 */
    margin: 10px 0 4px;
    border-bottom: 1px solid var(--gray-500);
  }

  h2 {
    margin-bottom: 8px;
  }

  .login-wrapper {
    /* 로그인 컴포넌트 내부 폼 영역 컴포넌트 */
    background-color: var(--white);
    border-radius: 5px;
    padding: 8px 8px 4px 8px;
  }
}

/* 유효서 검사 배너 링크 */
.validation {
  /* background-color: yellow; */
  margin-top: 25px;

  /* 부모의 크기에 종속됨 */
  display: flex;
  gap: 10px;
  flex-direction: column;

  .gradient {
    /* border: 1px solid red; */
    --size: 38px;
    --icon-size: 16px;
    background-size: var(--icon-size) / 100%;

    &:hover,
    &:focus {
      color: var(--primary);
    }
  }
}

/* flex의 경우 margin은 병합되지 않고 더 해짐 */
.term {
  margin-top: 20px;

  h2 {
    margin-bottom: 16px;
  }

  .card {
    margin-top: 12px;
  }

  /* padding: 16px;
  공통 스타일로 분리..
  border: 1px solid var(--gray-500);
  border-radius: 5px;
  
  플렉스를 이용한 레이아웃
  display: flex;
  flex-direction: column;
  gap: 12px;
  .heading {
    margin-bottom: 16px;
  } */
}

.search {
  /* background-color: yellow; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 12px 24px 8px;
  border-bottom: 0;

  form {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    label {
      /* background-color: #ffc; */
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center;
    }

    .input {
      /* 2단계 깊이를 가지는 자식 요소에 대하여 flex 적용을 위해 처리 */
      display: contents;
    }

    .button {
      flex: 0 0 auto;
      /* 버튼은 크기가 고정되어 있으므로 shrink를 0으로 설정 */
    }
  }
}
