<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>카드 컴포넌트</title>
    <link rel="icon" href="/src/assets/favicon/webcafe.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css" />
    <link rel="stylesheet" href="/src/styles/index.css" />
    <style>
      .component-wrapper {
        margin: 20px;
        padding: 20px 80px 20px 20px;
        border: 2px solid currentColor;
        position: relative;

        .copy {
          background-color: var(--primary);
          color: var(--white);
          border: 0;
          padding: 8px;
          border-radius: 4px;
          position: absolute;
          top: 20px;
          right: 20px;
        }
      }
    </style>
    <script type="module" src="/src/components/copy-component.js"></script>
  </head>
  <body>
    <div class="component-wrapper">
      <div class="card">
        <div class="card-content">
          <em>카드 제목</em>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore alias libero doloribus totam, perspiciatis, eos, accusamus numquam fugit dicta consectetur ea et nobis</p>
        </div>
        <div class="card-thumbnail">
          <img src="/src/assets/webcafe/web_standards.png" srcset="/src/assets/webcafe/web_standards.webp" alt="" />
        </div>
      </div>
      <button class="copy">복사</button>
    </div>
  </body>
    <div class="component-wrapper">
      <div class="card cross">
        <div class="card-content">
          <em>카드 제목</em>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore alias libero doloribus totam, perspiciatis, eos, accusamus numquam fugit dicta consectetur ea et nobis</p>
        </div>
        <div class="card-thumbnail">
          <img src="/src/assets/webcafe/web_standards.png" srcset="/src/assets/webcafe/web_standards.webp" alt="" />
        </div>
      </div>
      <button class="copy">복사</button>
    </div>
  </body>
</html>
